.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.form-container {
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 15px;
}

.form-field-terms {
  display: flex;
  width: 50%;
  flex-direction: row;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  width: 22%;
}

.autocomplete-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.autocomplete-list li {
  padding: 5px 10px;
  cursor: pointer;
}

.autocomplete-list li.selected {
  background-color: #f1f1f1;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}

.cancel_button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #aeb9af;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registered-info {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  background-color: #f1f1f1;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
